a {
    color: saddlebrown;
}

h3 {
    color: green;
}

.title span {
    color: blueviolet;
}

.text {
    color: grey;
}

text.last{
    color: red;
}

.sightseeing * {
    color: greenyellow;
}

.valensiya + p {
    color: hotpink;
} 

#serranos {
    color: indigo;
}